@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: transparent;
}


.trocarPlayer{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    background-color:#ffa600;
    margin: 0 7px;
    border-bottom: 1px solid #c5b100;
    border-left: 1px solid #c5b100;
    border-right: 1px solid #c5b100;
    font-family: 'Coda Caption', sans-serif;
    font-size: 14px;
    color: #fffdd9;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #000;
    cursor: pointer;
}
.trocarPlayer:hover{
    background-color: #8b6600;
}

.containerAll{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


iframe{
    width: 100%;
    height: 100%;
}

.containerButtons{
    display: flex;
    position: absolute;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color:#ffa600;
    margin: 0 7px;
    border-bottom: 1px solid #c5b100;
    border-left: 1px solid #c5b100;
    border-right: 1px solid #c5b100;
    font-family: 'Coda Caption', sans-serif;
    font-size: 15px;
    color: #fffdd9;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #000;
    cursor: pointer;
}

.button:hover{
    background-color: #8b6600;
}

@media screen and (max-width: 650px) {
    .trocarPlayer{
        width: 50px;
        height: 25px;
        font-size: 11px;
    }

    .containerButtons{
        display: block;
    }
    .button{
        width: 90px;
        height: 45px;
        font-size: 14px;
        margin: 7px 0;
    }
}
